body {
  font-weight: 500;
  color: #333;
}

.about-hero {
  background: linear-gradient(135deg, #f8f9fac3 0%, #e9ecefa3 100%);
  padding-top: 80px;
  padding-bottom: 60px;
}

.about-hero p {
  font-size: 1.2rem;   
  font-weight: 520;   
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about-hero img {
  width: 500px;
  height: 450px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.section-title {
  color: #8004d9;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #8004d9;
  margin: 20px auto 0;
}

.highlight {
  color: #8004d9;
  font-weight: 600;
}

.icon-theme {
  transition: transform 0.3s ease, color 0.3s ease;
  color: #8004d9; 
}

.list-unstyled i{
 color: #470079;
}

.icon-theme:hover {
  transform: translateY(-5px) scale(1.1);
  color: #470079; 
}

.mission-vision-values {
  background: linear-gradient(135deg, #f6f7fb 0%, #f0f2f5 100%);
}

.mission-vision-values p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
}
